{%load static%}
 <!DOCTYPE html> 
<html> 
 
    <head>
         <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="{% static 'downloader/style.css' %}">
    </head>
    <body>
        
    
<h1>Youtube</h1> 


<form action="" method="post"> 
{% csrf_token %} 

<label for="link">Enter URL:</label> 
<input type="text" id="link" name="link"><br><br> 
<input type="submit" value="Submit"> 
</form> 

</body> 
</html>
